<div class="card converter-card">
  <div class="card-header">
    <div class="row converter-header">
      <h4> <%= t("admin_dashboard.currency_converter") %> </h4>
    </div>
  </div>
  <%= simple_form_for @operation do |f| %>
    <div class="card-body">
        <div class="table">
          <table class="table table-hover table-striped header-darker">
            <th id="from_currency">
              <%= f.input :banknote_name, collection: available_currencies_for_convert(@banknotes), label: I18n.t("admin_dashboard.from") %>
              <%= f.input :banknote_name_2, collection: available_currencies_for_convert(@banknotes), label: I18n.t("admin_dashboard.to") %>
            </th>
            <th id="to_currency"> <%= f.input :user_name, label: "Name" %>
                 <%= f.input :user_surname, label: "Surname" %> </th>
            <th>  <%= f.input :amount,
                       html5: true,
                       input_html: {
                          step: 10,
                          min: 0,
                          type: 'number' },
                          required: true,
                       required: false %>
            </th>
            <th> <%= f.hidden_field :cashier_name, value: cashier_name %> </th>
            <th> <%= f.hidden_field :cashier_surname, value: cashier_surname %> </th>
          </table>
        </div>
    </div>
    <div class="card-footer"> <%= f.button :submit, I18n.t("admin_dashboard.convert"), class: "btn btn-success  text-right submit-button", post: :create %>
    </div>
  <% end %>
</div>

