<div class="card converter-card">
  <div class="card-header">
    <div class="row converter-header">
      <h4> <%= t("admin_dashboard.currency_converter") %> </h4>
    </div>
  </div>
  <%= simple_form_for @converter do |f| %>
    <div class="card-body">
        <div class="table">
          <table class="table table-hover table-striped header-darker">
            <th>
              <%= f.input :banknote_name, collection: available_currencies_for_convert(@banknotes), label: I18n.t("admin_dashboard.from") %>
              <%= f.input :banknote_name_2, collection: available_currencies_for_convert(@banknotes), label: I18n.t("admin_dashboard.to") %>
            </th>
            <th> <%= f.input :amount,
                       html5: true,
                       input_html: {
                          min: 0,
                          type: 'number' },
                          required: true,
                       required: false %>
                 <%= f.input :user_surname, label: "Surname" %> </th>
            <th> <%= f.input :type_of_operation,
                       collection: Converter.type_of_operation.values,
                       html5: true,
                       allow_blank: false,
                       label: I18n.t("admin_dashboard.type"),
                       required: true %>
                 <%= f.input :user_name, label: "Name" %> </th>
          </table>
        </div>
    </div>
    <div class="card-footer"> <%= f.button :submit, I18n.t("admin_dashboard.convert"), class: "btn btn-success  text-right submit-button", data: { disable: true }, post: :create %>

    </div>
  <% end %>
</div>
