<div class="card">
  <div class="card-header">
    <div class="row exchange-card-header">
      <div class="card-link"> <%= link_to 'Add new', new_banknote_path, class: "btn btn-outline-info" if admin_signed_in? %> </div>
      <h4> <%= t("admin_dashboard.exchange_rate") %> </h4>
     </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-hover table-striped header-darker" id="responses_list">
        <thead>
          <tr>
            <th></th>
            <th> <%= t("admin_dashboard.name") %> </th>
            <th> <%= t("admin_dashboard.purchase_rate") %> </th>
            <th> <%= t("admin_dashboard.selling_rate") %> </th>
          </tr>
        </thead>

        <tbody>
          <% @banknotes.each do |banknote| %>
            <tr>
              <td>
                <%= banknote.id %>
              </td>
              <td>
                <%= best_in_place_if admin_signed_in?, banknote, :name, as: :select, collection: currencies_for_edit(@banknotes, banknote.name) %>
              </td>

              <td>
                <%= best_in_place_if admin_signed_in?, banknote, :purchase_rate, as: :input %>
              </td>

              <td>
                <%= best_in_place_if admin_signed_in?, banknote, :selling_rate, as: :input %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<% if admin_signed_in? %>
  <div class="base-currency-container">
    <div class="card">
      <%= simple_form_for @base_currency do |f| %>
        <div class="card-body">
          <div class="table">
            <table class="table table-hover table-striped header-darker">
              <h4> <%= I18n.t("admin_dashboard.default_currency") %> </h4>
              <div class="base-currency-input">
                <%= f.input :name, collection: currency_with_abbreviations, label: false %>
                <%= f.button :submit, I18n.t("admin_dashboard.choose"), class: "btn btn-success base-currency-button", data: { disable: true }, post: :update %>
              </div>
            </table>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% else %>
  <p> <%= "Base currency: #{@base_currency.name}" %> </p>
<% end %>
