<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1><%= title %></h1>
    </div>

    <div class="col-md-6">
      <% if search_input_name %>
        <div class="header-container">
          <%= link_to t("actions.download_xlsx"), download_path, class: "btn btn-primary header-button" if download_path %>
          <%= search_form_for @q, url: search_url, class: 'form-inline' do |f| %>
            <%= capture(f, &custom_content) if custom_content %>
            <div>
              <%= f.search_field search_input_name, class: ["form-control"], style: "margin-right: 5px", placeholder: search_placeholder %>
              <span class="input-group-btn">
                <%= f.submit class: ["btn", "btn-success"] %>
              </span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
