<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1><%= title %></h1>
    </div>

    <div class="col-md-4 row">
      <%= link_to link_name, link_path, class: "btn btn-primary header-button" %>
      <% if search_input_name %>
        <div>
          <%= search_form_for @q, url: search_url, class: 'form-inline' do |f| %>
            <%= capture(f, &custom_content) if custom_content %>
            <div style="margin-right: 15px; max-width: 300px">
              <%= f.search_field search_input_name, class: ["form-control"], style: "margin-right: 5px", placeholder: search_placeholder %>
              <span class="input-group-btn">
                <%= f.submit class: ["btn", "btn-success"] %>
              </span>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
