<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body id="<%= controller.controller_name %>_<%= controller.action_name %>">
    <%= render "layouts/navbar" %>
    <%= render "shared/flash" %>
    <div class="container">
      <%= yield %>
    </div>
    <%= javascript_include_tag "form", defer: true %>
  </body>
</html>
